
ConvergenceRep1.csv
Results/GridQMC-LHS/ConvergenceRep100_1.csv
Results/GridQMC-LHS/ConvergenceRep100_10.csv
Results/GridQMC-LHS/ConvergenceRep100_11.csv
Results/GridQMC-LHS/ConvergenceRep100_12.csv
Results/GridQMC-LHS/ConvergenceRep100_13.csv
Results/GridQMC-LHS/ConvergenceRep100_14.csv
Results/GridQMC-LHS/ConvergenceRep100_15.csv
Results/GridQMC-LHS/ConvergenceRep100_16.csv
Results/GridQMC-LHS/ConvergenceRep100_17.csv
Results/GridQMC-LHS/ConvergenceRep100_18.csv
Results/GridQMC-LHS/ConvergenceRep100_19.csv
Results/GridQMC-LHS/ConvergenceRep100_2.csv
Results/GridQMC-LHS/ConvergenceRep100_20.csv
Results/GridQMC-LHS/ConvergenceRep100_21.csv
Results/GridQMC-LHS/ConvergenceRep100_22.csv
Results/GridQMC-LHS/ConvergenceRep100_23.csv
Results/GridQMC-LHS/ConvergenceRep100_24.csv
Results/GridQMC-LHS/ConvergenceRep100_25.csv
Results/GridQMC-LHS/ConvergenceRep100_26.csv
Results/GridQMC-LHS/ConvergenceRep100_27.csv
Results/GridQMC-LHS/ConvergenceRep100_28.csv
Results/GridQMC-LHS/ConvergenceRep100_29.csv
Results/GridQMC-LHS/ConvergenceRep100_3.csv
Results/GridQMC-LHS/ConvergenceRep100_30.csv
Results/GridQMC-LHS/ConvergenceRep100_31.csv
Results/GridQMC-LHS/ConvergenceRep100_32.csv
Results/GridQMC-LHS/ConvergenceRep100_33.csv
Results/GridQMC-LHS/ConvergenceRep100_34.csv
Results/GridQMC-LHS/ConvergenceRep100_35.csv
Results/GridQMC-LHS/ConvergenceRep100_36.csv
Results/GridQMC-LHS/ConvergenceRep100_37.csv
Results/GridQMC-LHS/ConvergenceRep100_38.csv
Results/GridQMC-LHS/ConvergenceRep100_39.csv
Results/GridQMC-LHS/ConvergenceRep100_4.csv
Results/GridQMC-LHS/ConvergenceRep100_40.csv
Results/GridQMC-LHS/ConvergenceRep100_41.csv
Results/GridQMC-LHS/ConvergenceRep100_42.csv
Results/GridQMC-LHS/ConvergenceRep100_43.csv
Results/GridQMC-LHS/ConvergenceRep100_44.csv
Results/GridQMC-LHS/ConvergenceRep100_45.csv
Results/GridQMC-LHS/ConvergenceRep100_46.csv
Results/GridQMC-LHS/ConvergenceRep100_47.csv
Results/GridQMC-LHS/ConvergenceRep100_48.csv
Results/GridQMC-LHS/ConvergenceRep100_49.csv
Results/GridQMC-LHS/ConvergenceRep100_5.csv
Results/GridQMC-LHS/ConvergenceRep100_50.csv
Results/GridQMC-LHS/ConvergenceRep100_51.csv
Results/GridQMC-LHS/ConvergenceRep100_52.csv
Results/GridQMC-LHS/ConvergenceRep100_53.csv
Results/GridQMC-LHS/ConvergenceRep100_54.csv
Results/GridQMC-LHS/ConvergenceRep100_55.csv
Results/GridQMC-LHS/ConvergenceRep100_56.csv
Results/GridQMC-LHS/ConvergenceRep100_57.csv
Results/GridQMC-LHS/ConvergenceRep100_58.csv
Results/GridQMC-LHS/ConvergenceRep100_59.csv
Results/GridQMC-LHS/ConvergenceRep100_6.csv
Results/GridQMC-LHS/ConvergenceRep100_60.csv
Results/GridQMC-LHS/ConvergenceRep100_7.csv
Results/GridQMC-LHS/ConvergenceRep100_8.csv
Results/GridQMC-LHS/ConvergenceRep100_9.csv
Databases/Model_lastversion.csv
ExperimentBase_lf_1.0.csv
ExperimentBase_lf_1.05.csv
ExperimentBase_lf_1.1.csv
ExperimentBase_lf_1.15.csv
ExperimentBase_lf_1.2.csv
ExperimentBase_lf_1.25.csv
ExperimentBase_lf_1.3.csv
ExperimentBase_lf_1.35.csv
ExperimentBase_lf_1.4.csv
ExperimentBase_lf_1.45.csv
ExperimentBase_lf_1.5.csv
ExperimentBase_lf_1.55.csv
ExperimentBase_lf_1.6.csv
ExperimentBase_lf_1.65.csv
ExperimentBase_lf_1.7.csv
ExperimentBase_lf_1.75.csv
ExperimentBase_lf_1.8.csv
ExperimentBase_lf_1.85.csv
ExperimentBase_lf_1.9.csv
ExperimentBase_lf_1.95.csv
ExperimentBase_lf_2.0.csv
ExperimentBase_lf_2.05.csv
ExperimentBase_lf_2.1.csv
ExperimentBase_lf_2.15.csv
ExperimentBase_lf_2.2.csv
ExperimentBase_lf_2.25.csv
ExperimentBase_lf_2.3.csv
ExperimentBase_lf_2.35.csv
ExperimentBase_lf_2.4.csv
ExperimentBase_lf_2.45.csv
ExperimentBase_lf_2.5.csv
ExperimentBase_lf_2.55.csv
ExperimentBase_lf_2.6.csv
ExperimentBase_lf_2.65.csv
ExperimentBase_lf_2.7.csv
ExperimentBase_lf_2.75.csv
ExperimentBase_lf_2.8.csv
ExperimentBase_lf_2.85.csv
ExperimentBase_lf_2.9.csv
ExperimentBase_lf_2.95.csv
ExperimentBase_lf_3.0.csv
ExperimentBase_lf_3.05.csv
ExperimentBase_lf_3.1.csv
ExperimentBase_lf_3.15.csv
ExperimentBase_lf_3.2.csv
ExperimentBase_lf_3.25.csv
ExperimentBase_lf_3.3.csv
ExperimentBase_lf_3.35.csv
ExperimentBase_lf_3.4.csv
ExperimentBase_lf_3.45.csv
ExperimentBase_lf_3.5.csv
Experiments/Receitas_base.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_1.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_10.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_11.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_12.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_13.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_14.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_15.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_16.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_17.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_18.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_19.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_2.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_20.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_21.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_22.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_23.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_24.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_25.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_26.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_27.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_28.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_29.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_3.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_30.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_31.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_32.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_33.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_34.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_35.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_36.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_37.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_38.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_39.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_4.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_40.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_41.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_42.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_43.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_44.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_45.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_46.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_47.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_48.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_49.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_5.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_50.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_51.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_52.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_53.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_54.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_55.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_56.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_57.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_58.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_59.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_6.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_60.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_7.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_8.csv
Results/GridQMC-LHS-Clusters/ConvergenceRep100_non_smoker_9.csv
Results/GridQMC-LHS-Clusters2/ConvergenceRep100_smoker_non_obese_1.csv
Results/GridQMC-LHS-Clusters2/ConvergenceRep100_smoker_non_obese_10.csv
Results/GridQMC-LHS-Clusters2/ConvergenceRep100_smoker_non_obese_11.csv
Results/GridQMC-LHS-Clusters2/ConvergenceRep100_smoker_non_obese_12.csv
Results/GridQMC-LHS-Clusters2/ConvergenceRep100_smoker_non_obese_13.csv
Results/GridQMC-LHS-Clusters2/ConvergenceRep100_smoker_non_obese_14.csv
Results/GridQMC-LHS-Clusters2/ConvergenceRep100_smoker_non_obese_15.csv
Results/GridQMC-LHS-Clusters2/ConvergenceRep100_smoker_non_obese_16.csv
Results/GridQMC-LHS-Clusters2/ConvergenceRep100_smoker_non_obese_17.csv
Results/GridQMC-LHS-Clusters2/ConvergenceRep100_smoker_non_obese_18.csv
Results/GridQMC-LHS-Clusters2/ConvergenceRep100_smoker_non_obese_19.csv
Results/GridQMC-LHS-Clusters2/ConvergenceRep100_smoker_non_obese_2.csv
Results/GridQMC-LHS-Clusters2/ConvergenceRep100_smoker_non_obese_20.csv
Results/GridQMC-LHS-Clusters2/ConvergenceRep100_smoker_non_obese_3.csv
Results/GridQMC-LHS-Clusters2/ConvergenceRep100_smoker_non_obese_4.csv
Results/GridQMC-LHS-Clusters2/ConvergenceRep100_smoker_non_obese_5.csv
Results/GridQMC-LHS-Clusters2/ConvergenceRep100_smoker_non_obese_6.csv
Results/GridQMC-LHS-Clusters2/ConvergenceRep100_smoker_non_obese_7.csv
Results/GridQMC-LHS-Clusters2/ConvergenceRep100_smoker_non_obese_8.csv
Results/GridQMC-LHS-Clusters2/ConvergenceRep100_smoker_non_obese_9.csv
Results/GridQMC-LHS-Clusters3/ConvergenceRep100_smoker_obese_1.csv
Results/GridQMC-LHS-Clusters3/ConvergenceRep100_smoker_obese_10.csv
Results/GridQMC-LHS-Clusters3/ConvergenceRep100_smoker_obese_11.csv
Results/GridQMC-LHS-Clusters3/ConvergenceRep100_smoker_obese_12.csv
Results/GridQMC-LHS-Clusters3/ConvergenceRep100_smoker_obese_13.csv
Results/GridQMC-LHS-Clusters3/ConvergenceRep100_smoker_obese_14.csv
Results/GridQMC-LHS-Clusters3/ConvergenceRep100_smoker_obese_15.csv
Results/GridQMC-LHS-Clusters3/ConvergenceRep100_smoker_obese_16.csv
Results/GridQMC-LHS-Clusters3/ConvergenceRep100_smoker_obese_17.csv
Results/GridQMC-LHS-Clusters3/ConvergenceRep100_smoker_obese_18.csv
Results/GridQMC-LHS-Clusters3/ConvergenceRep100_smoker_obese_19.csv
Results/GridQMC-LHS-Clusters3/ConvergenceRep100_smoker_obese_2.csv
Results/GridQMC-LHS-Clusters3/ConvergenceRep100_smoker_obese_20.csv
Results/GridQMC-LHS-Clusters3/ConvergenceRep100_smoker_obese_3.csv
Results/GridQMC-LHS-Clusters3/ConvergenceRep100_smoker_obese_4.csv
Results/GridQMC-LHS-Clusters3/ConvergenceRep100_smoker_obese_5.csv
Results/GridQMC-LHS-Clusters3/ConvergenceRep100_smoker_obese_6.csv
Results/GridQMC-LHS-Clusters3/ConvergenceRep100_smoker_obese_7.csv
Results/GridQMC-LHS-Clusters3/ConvergenceRep100_smoker_obese_8.csv
Results/GridQMC-LHS-Clusters3/ConvergenceRep100_smoker_obese_9.csv
